body {
	background-color: black;
	color: white;
    text-align: center;
    font-family: 'American Typewriter';
    font-weight: 200;
}

h1 {
    font-weight: inherit;
}

footer {
	font-weight: inherit;
}

p {
	font-weight: inherit;
	margin-left: 100;
	margin-right: 100; 
}

.gingerBreadMan {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div {
	display: inline;
}
